.prof-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title title title title"
        "prof-img prompt1 prompt2 prompt3"
        "checkbox prompt1 prompt2 prompt3"
        "update-btn update-btn update-btn update-btn"
        ;
    padding: 20px;
}

#profile-top, #profile-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#profile-img-container {
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    background-color: bisque;
    border: 4px solid var(--accent-dark-blue);
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: prof-img;
}

#profile-img-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#profile-img-accessory {
    z-index: 1;
}

button {
    background-color: var(--accent-dark-blue);
    border: none;
    border-radius: 15px;
    height:40px;
    padding: 0px 10px;
    width: fit-content;
    font-size: 20px;
    font-family: var(--text-carlito);
    color: var(--text-white);
    cursor: pointer;
    box-shadow: 0px 5px #454545;
}

button:hover {
    background-color: var(--secondary-bright-blue);
}

button:active {
    background-color: var(--secondary-bright-blue);
    box-shadow: 0px 2px var(--text-black);
    transform: translateY(3px);
}

.prof-container h1 {
    grid-area: title;
    margin: 0;
}

.prof-container #checkbox {
    font-family: var(--text-carlito);
    text-align: left;
    grid-area: checkbox;
}

.prof-container #update-prof-button {
    grid-area: update-btn;
}

.prof-container #prompt1 {
    grid-area: prompt1;
}

.prof-container #prompt2 {
    grid-area: prompt2;
}

.prof-container #prompt3 {
    grid-area: prompt3;
}

.written-response {
    background-color: var(--text-white);
    border-radius: 15px;
    filter: drop-shadow(10px 5px 4px var(--secondary-bright-blue));
    text-align: left;
    padding: 10px;
    font-family: var(--text-carlito);
}

.written-response .prompt {
    color: var(--secondary-bright-blue);
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

.written-response .response {
    color: var(--text-black);
    font-weight: bold;
    font-size: 25px;
}

.checkbox-list {
    list-style-type: none;
    font-size: 25px;
    padding: 5px;
    margin: 0px;
}

.checkbox-list li {
    background: url("images/checkbox.png") no-repeat left center;
    padding-left: 40px;
    margin: 3px 0;
}