@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-light-blue: #BBD6FE;
    --secondary-bright-blue: #409AFD;
    --accent-dark-blue: #007AFF;
    --alert-red: #ED0800;
    --alert-green: #5DBEA3;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-josefin: "Josefin Sans", sans-serif;
    --text-carlito: "Carlito", sans-serif;
}

html, body {
    overscroll-behavior: none; /* Prevents overscroll and bounce effect */
}

/* Navigation Bar */
nav {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    height: 30px;
    filter: drop-shadow(0 0 0.5rem var(--text-black));
}

#logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo img {
    height: 30px;
    width: auto;
}

.nav-logo > h1 {
    font-size: 25px;
    color: var(--secondary-bright-blue);
}

.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-links a {
    color: var(--text-black);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: var(--text-carlito);
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:active {
    color: var(--accent-dark-blue);
    text-decoration: underline;
}

/* Changes active class based current page */
.nav-links a.active {
    color: var(--accent-dark-blue);
    text-decoration: underline;
}

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-icons img {
    height: 30px;
    width: auto;
}

.hidden {
    visibility: hidden;
}

/* General Rules after Nav  */
body {
    background-color: var(--primary-light-blue);
    margin: 0;
}

h1 {
    font-family: var(--text-josefin);
    font-size: 65px;
    color: var(--text-black);
}

p {
    font-family: var(--text-carlito);
}

.text-highlight {
    color: var(--accent-dark-blue);
}

.dropdown-container, .input-container {
    margin: 15px 0;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown, .text-entry {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 1rem;
    outline: none;
    margin: 5px 0;
}

/* Footer CSS Rules */
footer {
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-bright-blue);
    width: 100%;
}

.footer-text {
    line-height: 10px;
    color: var(--text-white);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.h-container{
    display : flex;
    flex-direction: column;
    text-align: center;   
}
.main-content{
    display : flex;
    margin-top: -20px;
    align-items: center;   
    justify-content: flex-start;
    gap: 40px

}

.pair {
    margin-bottom: 0px;
    width: auto;  /* Space BETWEEN pairs */
}

.pair h2 {
    line-height: 0px;
    
}
.pair h3 {
    margin-bottom: 8px;  
}
/* 
.new-user-button{
    background-color: #007AFF;
    border: none;
    border-radius: 19px;
    height:40px;
    padding: 0px 20px;
    width: fit-content;
    font-size: 1.5em;
    font-family: var(--text-carlito);
    color: var(--text-white);
    cursor: pointer;
    

} */
.start-button{
    background-color: #409AFD;
    border: none;
    border-radius: 19px;
    height:40px;
    width:fit-content;
    padding: 0px 20px;
    font-size: 1.5em;
    font-family: var(--text-carlito);
    color: var(--text-white);
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px #999;
}

.start-button:hover {background-color: #007AFF}

.start-button:active {
  background-color: #007AFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2 {
    font-family: var(--text-carlito);
    font-size: 30px;
    color: var(--text-black);
    
}

h3 {
    font-family: var(--text-carlito);
    font-size: 25px;
    color: var(--text-black);

}

.button-stack{
    display: flex;
    margin-top: -40px;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    margin-bottom: 20px;
}

.side-image {
    height: 450px;
    width: auto;

    margin-left: 100px;
    padding-right: 40px;
}