@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-light-blue: #BBD6FE;
    --secondary-bright-blue: #409AFD;
    --accent-dark-blue: #007AFF;
    --alert-red: #ED0800;
    --alert-green: #5DBEA3;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-josefin: "Josefin Sans", sans-serif;
    --text-carlito: "Carlito", sans-serif;
}

html, body {
    overscroll-behavior: none; /* Prevents overscroll and bounce effect */
}

/* Navigation Bar */
nav {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    height: 30px;
    filter: drop-shadow(0 0 0.5rem var(--text-black));
}

#logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo img {
    height: 30px;
    width: auto;
}

.nav-logo > h1 {
    font-size: 25px;
    color: var(--secondary-bright-blue);
}

.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-links a {
    color: var(--text-black);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: var(--text-carlito);
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:active {
    color: var(--accent-dark-blue);
    text-decoration: underline;
}

/* Changes active class based current page */
.nav-links a.active {
    color: var(--accent-dark-blue);
    text-decoration: underline;
}

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-icons img {
    height: 30px;
    width: auto;
}

.hidden {
    visibility: hidden;
}

/* General Rules after Nav  */
body {
    background-color: var(--primary-light-blue);
    margin: 0;
}

h1 {
    font-family: var(--text-josefin);
    font-size: 65px;
    color: var(--text-black);
}

p {
    font-family: var(--text-carlito);
}

.text-highlight {
    color: var(--accent-dark-blue);
}

/* Footer CSS Rules */
footer {
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-bright-blue);
    width: 100%;
}

.footer-text {
    line-height: 10px;
    color: var(--text-white);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}