.createprof-container {
  text-align: center;
  margin: auto;
  padding: 50px;
}

.progress-bar {
  background-color: var(--text-white);
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  position: relative;
  width: 100%;
  filter: drop-shadow(0px 20px 0.75rem var(--secondary-bright-blue));
}

#progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: 100%;
  border-radius: 50px;
  background-image: linear-gradient(to right, var(--accent-dark-blue), var(--primary-light-blue));
  font-family: var(--text-carlito);
  color: var(--text-white);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-up {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

.fade-out-down {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
  animation-name: fadeOutDown;
}

.persona-profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid var(--accent-dark-blue);
}

#profile-img .persona-profile {
  width: 100%;
  height: 200px;
  grid-area: prof-img;
}

/* Create grid areas */
#profile-preview h1 {
  grid-area: title;
  margin: 0;
}

#checkbox {
  grid-area: checkbox;
  font-family: var(--text-carlito);
  text-align: left;
}

#create-prof-button {
  grid-area: create-btn;
}

#prompt1 {
  grid-area: prompt1;
}

#prompt2 {
  grid-area: prompt2;
}

#prompt3 {
  grid-area: prompt3;
}

#profile-preview {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title title title"
    "prof-img prompt1 prompt2 prompt3"
    "checkbox prompt1 prompt2 prompt3"
    "create-btn create-btn create-btn create-btn";
}

.written-response {
  background-color: var(--text-white);
  border-radius: 15px;
  filter: drop-shadow(10px 5px 4px var(--secondary-bright-blue));
  text-align: left;
  padding: 10px;
  font-family: var(--text-carlito);
}

.written-response .prompt {
  color: var(--secondary-bright-blue);
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.written-response .response {
  color: var(--text-black);
  font-weight: bold;
  font-size: 25px;
}

.checkbox-list {
  list-style-type: none;
  font-size: 25px;
  padding: 5px;
  margin: 0px;
}

.checkbox-list li {
  background: url("../images/checkbox.png") no-repeat left center;
  padding-left: 40px;
  margin: 3px 0;
}

#create-prof-button button {
  background-color: var(--accent-dark-blue);
  border: none;
  border-radius: 15px;
  height: 40px;
  padding: 0px 10px;
  width: fit-content;
  font-size: 20px;
  font-family: var(--text-carlito);
  color: var(--text-white);
  cursor: pointer;
  box-shadow: 0px 5px #454545;
}

#create-prof-button button:hover {
  background-color: var(--secondary-bright-blue);
}

#create-prof-button button:active {
  background-color: var(--secondary-bright-blue);
  box-shadow: 0px 2px var(--text-black);
  transform: translateY(3px);
}

