main {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

form {
    position: relative;
    align-self: flex-start;  
}

#filter {
    position: relative;
    border: none;
    align-self: flex-start;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-family: var(--text-carlito);
    color: white;
    background: #007AFF;
    cursor: url('../images/Cursor-black.svg'), pointer;
}

select {
    position: relative;
    align-self: flex-start;
    appearance: base-select;
    border: 2px solid #409AFD;
    background: white;
    padding: 10px;
    margin-left: 10px;
    transition: 0.4s;
    font-size: 15px;
    font-family: var(--text-carlito);
    border-radius: 10px;
    cursor: url('../images/Cursor-blue.svg'), pointer;
}

h2 {
    color: white;
    background: #007AFF;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    margin: none;
}

strong {
    font-family: var(--text-carlito);
    font-size: 36px;
    text-decoration: double;
    color: white;
    
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    cursor: url('../images/Cursor-blue.svg'), pointer;
    padding-left: 20px;
}

#matchesGraph{
    position: relative;
    z-index: 1; /* Canvas is below */
    background: #FFFFFF;
    width: 500;
    height: 500;
    cursor: url('../images/Cursor-blue.svg'), pointer;
}

.info {
    position: absolute;
    z-index: 2;
    display: block;
    width: 500px;
    height: 500px;
}

.bearColor {
    z-index: 3;
}

.base {
    z-index: 4;
}

.link {
    opacity: 100;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: url('../images/Cursor-black.svg'), pointer;
}

.help {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
}

/* Tooltip container */
.tooltip {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 10px;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #007AFF;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    position: relative;
    padding: 5px;
    margin: 50px;
    }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Footer CSS Rules */
footer {
    height: 70px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-bright-blue);
    width: 100%;
  }
  
.footer-text {
    line-height: 10px;
    color: var(--text-white);
    position: relative;
    padding-top: 10px;
    bottom: 0;
    text-align: center;
    width: 100%;
}