form {
    scroll-padding-bottom: 500px;
}

/* Footer CSS Rules */
footer {
  height: 70px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-bright-blue);
  width: 100%;
  margin-top: 5rem;
}

.footer-text {
  line-height: 10px;
  color: var(--text-white);
  position: relative;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}